<!-- user.component.html -->

<div class="container">
    <div class="row" style="margin-top: 15vh;">
     <div class="col-5 shadow-lg m-auto rounded-3">
         <div>
             <form>
                 <h1 class="text-center my-3">Create User</h1>
                 <hr>
                 <div class="mb-3">
                     <label for="userName" class="form-label">User Name</label>
                     <input type="text" class="form-control" id="userName" placeholder="User Name" [(ngModel)]="userName" name="userName" >
                 </div>                
                 <div class="mb-3">
                     <label for="password" class="form-label">Password</label>
                     <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="password" name="password">
                 </div>
                 <div class="mb-3">
                     <label for="createdAt" class="form-label">Created At</label>
                     <input type="date" class="form-control" id="createdAt" placeholder="Created At" [(ngModel)]="createdAt" name="createdAt">
                 </div>
                 <div class="mb-3">
                     <label for="status" class="form-label">Status</label>
                     <select class="form-select" id="status" [(ngModel)]="status" name="status">
                         <option value="active">Active</option>
                         <option value="inactive">Inactive</option>
                     </select>
                 </div>
             </form>
             <div class="text-center">
                 <button class="btn btn-dark mt-3 px-5 mb-5" (click)="createUser()">Create User</button>
             </div>
         </div>
     </div>
    </div>
 </div>
 