select{
    width: 300px;
    background-color: white;
    border: none;
    border-bottom: 2px solid black;
}

input{
    all: unset;
    width: 300px;
    border-bottom: 2px solid black;
    height: 30px;
}