<div class="container" style="overflow-x: hidden;min-width: 95% !important;">
    <div class="row">
        <div class="col-12 my-3 ">
            <h2 class="fs-1">Dashboard</h2>
        </div>
        <div class="col-12 d-flex justify-content-between my-3">
            <div class="shadow" style="width: 300px;height: 100px;border-left: 5px solid green;"></div>
            <div class="shadow" style="width: 300px;height: 100px;border-left: 5px solid yellow;"></div>
            <div class="shadow" style="width: 300px;height: 100px;border-left: 5px solid blue;"></div>
            <div class="shadow" style="width: 300px;height: 100px;border-left: 5px solid red;"></div>
        </div>
    </div>
    <div class="row mt-5 ">
        <div class="col-6  ">    
            <h2 class="m-5">Profit Bar</h2>    
            <img src="assets/chart.png" alt="" width="600px" class="shadow">
        </div>
        <div class="col-6">        
            <h2 class="m-5">Sales Pie</h2>    
            <img src="assets/pie.svg" alt="" width="700px"  class="shadow">
        </div>
    </div>
</div>
