<div id="main">
    <div class="sidenav bg-dark text-white">
      <div class="text-center my-3">
        <i class="fas fa-user fs-1"></i>
        <p class="my-1">Justin</p>
      </div>
      <a routerLink="dashboard">DashBoard</a>
        <a routerLink="vendor">Dealer/Vendor</a>
        <a routerLink="purchase">Purchase</a>        
        <a routerLink="stock">Stock for Sales</a>        
        <a href="#">Return</a>
        <a href="#">Stock</a>
        <a href="#">Logout</a>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>

</div>